<% if object.errors.any? %>
  <div id="error_explanation" class="pb-5">
    <div class="alert-list">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>