<div class="side-contents p-2">
  <p class="category">CATEGORY</p>

  <span class="categorys">Sweets</span>
  <% @sweets.each do |c| %>
    <div class="category-list">
      <%= link_to c.name, category_micropost_path(c.id) %>
    </div>
  <% end%>


  <p class="category"></p>

  <span class="categorys">Bread</span>
  <% @bread.each do |c| %>
    <div class="category-list">
      <%= link_to c.name, category_micropost_path(c.id) %>
    </div>
  <% end%>

  <p class="category"></p>

  <span class="categorys">Other</span>
  <% @other.each do |c| %>
    <div class="category-list">
      <%= link_to c.name, category_micropost_path(c.id) %>
    </div>
  <% end%>
  
</div>