<div class="pb-5">
  こんにちは！このサイトはお菓子・パンの共有サイトです。<br>
  買った・作ったお菓子を写真と一緒に投稿できます。<br>
  気に入った投稿に気軽にコメントしてみよう！
</div>


<div class="about pb-5">
  <span>登録しないで出来ること</span>
  <li>検索</li>
  <li>コメント</li>
</div>

<div class="about pb-5">
  <span>登録すると出来ること</span>
  <li>投稿</li>
  <li>お気に入り</li>
  <li>ユーザーフォロー</li>
</div>

<p class="reference">
  （＊<%= link_to "こちら", "https://www.cotta.jp/" %>から写真お借りしています。）
</p>