<div class="main">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12">
        <div class="top-contents my-4">
          <h5 class="main-title">最近の投稿</h5>
            <div class="pict-wrapper">

              <% @microposts.each do |micropost| %>
              <%= link_to image_tag(micropost.picture.url), micropost_path(micropost.id) %>
              <% end %>

            </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="top-contents my-4">
          <h5 class="main-title">おすすめレシピ</h5>
            <div class="pict-wrapper">
            
              <%= image_tag "dami-.png", class: "dummy"%>
              <%= image_tag "dami-.png", class: "dummy"%>
              <%= image_tag "dami-.png", class: "dummy"%>
              <span class="">moer..</span>

            </div>
        </div>
      </div>

    </div>
  </div>

</div>