<div class="main">
  <div class="side-box">
   <%= render 'shared/sidebar' %>
  </div>

  <div class="main-box ml-3">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12">
          <div class="top-contents">
            <h5 class="main-title">最近の投稿</h5>
              <div class="pict-wrapper">
                
                <% @microposts.each do |micropost| %>
                <div class="pict shadow bg-white rounded p-1 m-1">
                <%= link_to image_tag(micropost.picture.url), micropost_path(micropost.id) %>
                </div>
                <% end %>
  
              </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12">
          <div class="top-contents mt-5">
            <h5 class="main-title">人気のレシピ</h5>
              <div class="pict-wrapper">

                <% @sweets_recipes.each do |recipe| %>
                  <div class="pict shadow bg-white rounded p-1 m-1">
                    <%= link_to image_tag(recipe.food_image_url, size: '150'), recipe.url %>
                    <%#= recipe.title %>
                  </div>
                <% end %>
                <% @pan_recipes.each do |recipe| %>
                  <div class="pict shadow bg-white rounded p-1 m-1">
                    <%= link_to image_tag(recipe.food_image_url, size: '150'), recipe.url %>
                    <%#= recipe.title %>
                  </div>
                <% end %>

              </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
