<div class="main">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12">
        <div class="top-contents my-4">
          <h5 class="main-title">最近の投稿</h5>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="top-contents my-4">
          <h5 class="main-title">おすすめレシピ</h5>
           
        </div>
      </div>

    </div>
  </div>

</div>