<div class="micropost shadow bg-white rounded p-1 m-1">
  <span class="content">
  <%= link_to image_tag(micropost.picture.url), micropost_path(micropost.id)  if micropost.picture? %>
  </span>
</div>
