<div class="micropost pb-2">
  <div class="user"><%= link_to micropost.user.name, micropost.user %></div>
  <span class="content">
  <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                      data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</div>
