<p class="">全ての投稿・<%= @microposts_all.count %>件</p>
<div class="pict-wrapper">
  <% @microposts.each do |micropost| %>
    <div class="pict shadow bg-white rounded p-1 m-1">
      <%= link_to image_tag(micropost.picture.url), micropost_path(micropost.id)  if micropost.picture? %>
    </div>
  <% end %>
</div>
<%= paginate @microposts %>