<div class="pict-main">
  <%= image_tag(@micropost.picture.url) %>
</div>

<div class="pict-group">

  <h3 class="pict-title pb-2">
    <%= @micropost.title %>
  </h3>
  <div class="pict-content pb-4">
    <%= @micropost.content %>
  </div>

</div>