.comment-form {
  width: 200px;
  display: inline-block;
}
.user-name {
  color: #aaaaaa;;
}
.date {
  color: #aaaaaa;
  font-size: 12px;
}
.border {
  border-bottom: 1px solid #dee2e6;
}
.comment {
  color: #ed693b;
}