.microposts {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.micropost {
  width: 200px;
  
}
.micropost a:hover {
  transition: 0.7s;
  opacity: 0.7;
}

// show
.contents-box {
  overflow: hidden;
}
.right-contents a {
  text-decoration: none;
  color: #6c757d;
}
.right-contents a:hover{
  text-decoration: none;
  color: #dee2e6;
}

.left-contents {
  float: left;
  width: 650px;
}
.right-contents {
  float: left;
  width: 530px;
}
.fa-heart {
  color: #ffcce5;
}
.fa-star {
  color: #ffe5cc;
}
.fa-share {
  color: #cce5ff;
}
.fa-comment {
  color: #e5ccff;
}
.fa-cookie {
  color: #F0D19A;
}
.fa-cookie-bite {
  color: #F0D19A;
}

.comment-list {
  border-bottom: 1px solid #dee2e6;
}

.delete-link {
  text-align: right;
}