
.micropost a:hover {
  transition: 0.7s;
  opacity: 0.7;
}

// show
.contents-box {
  overflow: hidden;
}
.right-contents a {
  text-decoration: none;
  color: #d8a598;
}
.right-contents a:hover{
  text-decoration: none;
  color: #ed693b;
}

.left-contents {
  float: left;
  width: 650px;
}
.right-contents {
  float: left;
  width: 530px;
}
.fa-heart {
  color: #ffcce5;
}
.fa-star {
  color: #F0D19A;
}
.fa-share {
  color: #cce5ff;
}
.fa-comment {
  color: #e5ccff;
}
.fa-cookie {
  color: #d8a598;
}
.fa-cookie-bite {
  color: #F0D19A;
}
