.profile a {
  text-decoration: none;
  color: #d8a598;
}

.profile a:hover {
  color: #ed693b
}
p>a {
  text-decoration: none;
  color: #666;
}
p>a:hover {
  text-decoration: none;
  color: #d8a598;
}


.profile p a{
  text-decoration: none;
  line-height: 1.3em;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  background: #fff;
  color: #666;
}

.profile p a:hover {
    background: #ed693b;
    color: #fff;
}

.name {
  font-size: 30px;
}

.menus {
  width: 400px;
  float: right;
  text-align: center;
}

.user-menu a{
  text-decoration: none;
  color: #666;
}

.user-menu a:hover{
  text-decoration: none;
  color: #ed693b;
}

// about
.about span{
  color: #ed693b;
}
.about li{
  list-style: none;
  font-size: 14px;
}

.reference {
  font-size: 14px;
}

.reference a{
  text-decoration: none;
  font-size: 14px;
  color: #666;
}
.reference a:hover{
  color: #ed693b;
}