body {
  font-family: 'M PLUS Rounded 1c','Varela Round',sans-serif; 
}
.logo-title {
  font-size: 30px;
  font-family:'Bad Script', cursive;
}

// side-bar
.categorys {
  color: #ed693b;
}

.main {
  clear: both;
  display: block;
  content: " ";
}

.side-box {
  float: left;
  width: 200px;
  height: 800px;
}

.category-list a{
  text-decoration: none;
  float: left;
  display: inline-block;
  line-height: 1.3em;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  background: #fff;
  color: #666;
}

.category-list a:hover {
    background: #ed693b;
    color: #fff;
}

.category {
  clear: both;
  display: block;
  content: " ";
}

.pict-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.pict-wrapper a:hover {
  transition: 0.7s;
  opacity: 0.7;
}
